 .left-img-box{
        position: relative;

         .absolute-img{
                   position: absolute;
                    width: 54%;
                    left: 34%;
                    top: 4%;
          } 
     }